body {
background-image: url('../images/lotus.jpg');
color: white;
}
ul {
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}
ul li {
 border-style: solid;
 border-width: 1px;
 border-color: white;
 list-style-type: none;
 display: inline;
 margin-right: 10px;
 margin-left:10px;
 font-family: "Lucida Console", monospace;
}
ul li a{
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: #99DDFF;
  text-decoration: none;
}
h1 {
  padding:12px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
article {
  float: left;
  border-style: solid;
  border-width: 1px;
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
  border-color: #00FFFF;
}
aside {
  float: left;
  border-style:solid;
  border-width: 1px;
  padding: 1em;
  border-radius: 1em;
  background-color: #00FFFF;
  box-shadow: 10px 10px 5px #008080;
}
table, th, td {
  border: 1px solid #00FFFF;
  border-collapse: collapse;
}
tr{
  background-color:#008080;
}
th, td {
  vertical-align: top;
  padding: 0.5em;
  text-align: left;
}
img {
  border-radius: 10px;
}
p {
  font-family: "Arial", serif;
}

.bob {
  font-family: "Times New Roman", Times, serif;
}
#ab {
  color:red;
}
#bb {
  color:orange;
}
#cb {
  color:green;
}
#db {
  color:blue;
}
@keyframes rotatePicture {
  0% {border-radius:20% 0%;}
  50%{border-radius:0% 20%;}
  100% {border-radius:20% 0%;}
}
#blob:hover {
  animation-name: rotatePicture;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.box-blue {
  position: absolute;
  background: lightskyblue;
  height: 100px;
  width: 100px;
  top: 77px;
  left: 500px;
}
.box-orange {
  position: absolute;
  background: blue;
  width: 100px;
  height: 100px;
  top: 85px;
  left: 495px;
}